<%- include('partials/header') %> 


 <%- include('partials/navbar') %>

 <div class="container">

  <a href="/api/create/post" class="btn btn-primary mb-1">Create Post</a>

  <table class="table mt-5 table-hover">
            
   <thead class="table-dark">
     <tr>
       <th scope="col">Title</th>
       <th scope="col">Content</th>
       <th scope="col">Image</th>
       <th scope="col">Author</th>
       <th scope="col">Actions</th>
     </tr>
   </thead>
   
   <tbody>
       <% if(posts.length > 0) { %>
           <% for(let post of posts) { %>
               <tr>
                   <th scope="row"><%= post.title %></th>
                   <td><%= post.content %></td>
                   <td><img src="/<%= post.image %>" class="img-fluid" style="width: 50px; height: 50px; border-radius: 50%;"></td>
                   <td><%= post.author %></td>
                   <td>
                   <a href="/api/update/post/<%= post._id %>" class="btn btn-sm btn-warning">Edit</a>
                   <a href="/api/delete/post/<%= post._id %>" class="btn btn-sm btn-danger">Delete</a>
                   </td>
               </tr>
           <% } %>
       <% } else { %>    
           <tr>
               <td>No Data Found..</td>
           </tr>
       <% } %>    
   </tbody>

  </table>    
     

  

</div>



<%- include('partials/footer') %> 